<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <h1>
    PRODUCT LISTINGS
  </h1>
  <main>
    <% products.forEach((product)=> { %>
      <div>
        <div>
          <%= product.name %>
        </div>
        <div>
          <%= product.image %>
        </div>
        <div>
          <%= product.brand %>
        </div>

      </div>
      <% }) %>


  </main>
</body>

</html>